voice/**/*.pth filter=lfs diff=lfs merge=lfs -text
voice/**/*.index filter=lfs diff=lfs merge=lfs -text
models/**/*.pth filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
