[submodule "frontend"]
	path = frontend
	url = https://github.com/Open-LLM-VTuber/Open-LLM-VTuber-Web
	branch = build
[submodule "frontend-src"]
	path = frontend-src
	url = https://github.com/daoch4n/daoch4n-ui
